* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
    font-family: 'Roboto Flex', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-size: 6rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1.2rem;
}


.App {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  color: rgb(255, 255, 255);
}

.App:before {
  content: "";
  background: url("./assets/clouds.jpg") no-repeat center center/cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.App .container {
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  margin: auto;
  padding: 0 1rem;
  height: 100vh;
  max-width: 700px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.App .container .top {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 1rem auto;
}

.App .container .bottom {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem 0;
  background-color: rgba(0, 0, 0, .5);
  border-radius: 5px;
  padding: .5rem;
}

.bottom .feels {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom .humidity {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom .wind {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App .search {
  text-align: center;
  padding: 1rem;
}

.App input {
  padding: .7rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  background: rgba(255, 255, 255, 0.1);
  color: white;
}

::placeholder {
  color: #f8f8f8;
}
